* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generic CSS Start */

:root {
    --theme-branding-primary: #003a3a;
    --theme-branding-secondary: #f5c4c3;
}

.bg-primary {
    background-color: var(--theme-branding-primary);
}

.bg-secondary {
    background-color: var(--theme-branding-secondary);
}

.container {
    max-width: 1320px;
    width: 100%;
}

.position-relative {
    position: relative;
}

.min-h-screen {
    min-height: 100vh;
}

.mx-auto {
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "BioRhyme Expanded", serif;
}

h1 {
    color: var(--theme-branding-primary);
    margin: 0 0 3rem 0;
}

h1 span, h2 span {
    color: #ffffff;
}

h1 span.text-secondary, h2 span.text-secondary {
    color: var(--theme-branding-secondary);
}

h2 {
    font-size: 2.25rem;
}

h3 {
    color: var(--theme-branding-primary);
    font-family: "BioRhyme", serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.text-secondary {
    color: var(--theme-branding-secondary);
}


.text-white {
    color: #ffffff;
}


p {
    font-family: "BioRhyme", serif;
    margin: 0 0 3rem 0;
    font-size: 1.25rem;
}

.btn {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    padding: 1rem 1rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--theme-branding-primary);
    color: var(--theme-branding-secondary);
}

.btn-secondary {
    background-color: var(--theme-branding-secondary);
    color: var(--theme-branding-primary);
}

.btn-outline-secondary {
    border: 1px solid var(--theme-branding-secondary);
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 2rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.d-grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* Generic CSS End */


.header {
    height: 7rem;
    position: absolute;
    left: 0;
    top: 3rem;
    right: 0;
}

.header .container {
    height: 7rem;
}

.logo {
    width: 6.5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
    transform: translate(-3rem, 0);
}

.tagline {
    color: #fff;
    white-space: nowrap;
    text-align: center;
    display: block;
}


.logo a {
    text-decoration: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.shopping-cart a .icon-cart-shopping {
    color: rgba(255, 255, 255, 1);
}


.main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.main-navigation ul li a {
    text-decoration: none;
    color: var(--theme-branding-primary);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.section-discover-a-new-level-of-taste {
    height: 100vh;
    padding: 10rem 0 5rem 0;
}

.bg-discover-a-new-level-of-taste {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-discover-a-new-level-of-taste .container {
    padding: 0 0 0 42%;
}

.section-discover-a-new-level-of-taste h1 {
    font-size: 2.25rem;
}

.section-discover-a-new-level-of-taste .inner-content {
    padding: 0 0 0 15rem;
}

.section-the-restaurant {
    padding: 5rem 0;
}

.section-the-restaurant .col-img {
    width: 65%;
    padding: 0;
}

.section-the-restaurant .col-content {
    width: 25%;
    padding: 0 0 0 10%;
}

.section-the-restaurant .col-content .title {
    transform: translate(-300px, 0);
}

.row { /* Parent Element */
    display: flex;
    gap: 1.5rem;
}

.col-card { /* Child Element */
    width: 33.33%;
}

.section-what-we-make {
    padding: 5rem 0;
}


.section-what-we-make .col-card p { /* Old Way to CSS hierarchy */
    /* font-size: 1rem; */
}

.section-what-we-make { /* New WAy to write CSS hierarchy */
    .col-card {
        p {
            font-size: 1rem;
        }
        .link-read-more {
            font-family: "BioRhyme", serif;
            font-weight: 900;
            text-decoration: underline;
            color: var(--theme-branding-primary);
            display: inline-block;
        }
    }
}

.bg-img-delicious-nutritious {
    background-position: center top;
    background-size: cover;
}

.delicious-menu {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    .img-delicious-menu {
        position: absolute;
        top: 5rem;
        width: 5rem;
        &.left {
            left: -2.5rem;
        }
        &.right {
            right: -2.5rem;
        }
    }
}

.central-menu-details {
    max-width: 90%;
    width: 100%;
    margin: 0 auto 3rem auto;
    display: flex;
    justify-content: space-between;
    .ul-menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
}


.swiper {
  width: 100%;
}

.swiper-wraper {
    width: 80%;
    margin: 0 auto;
}

.section-make-reservations {
    .lead {
        color: #ffffff;
    }
    .col-content {
        width: 50%;
        p {
            color: #ffffff;
        }
    }
    .col-people-date-time {
        width: 50%;
        label {
            color: #ffffff;
        }
    }
}